{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <style>
        .mt-100{margin-top: 100px}
        .btn-git{
            background-image: url("/assets/images/github.svg");
            background-repeat: no-repeat;
            background-size: 20px;
        }
    </style>

    <div class="container">
        <div class="row center-align">
            <div class="col s12 mt-100">
                <h1 class="white-text">You deserve to know!</h1>
                <a class="waves-effect teal lighten-5 btn-large teal-text btn-git">Connect with</a>
                <p class="flow-text white-text">Personalized daily reminders about your github routine.</p>
            </div>
        </div>
    </div>

{% endblock %}
