{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="teal-text"># April, 5 (last update 10:45)</p>
            <form class="form-block">
                <p>
                    <label>
                        <input type="checkbox" />
                        <span class="form-block__item">#2046 Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" checked />
                        <span class="form-block__item">#2046 Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" />
                        <span class="form-block__item">#2046 Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" />
                        <span class="form-block__item">#2046 Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" checked />
                        <span class="form-block__item">#2046 Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                    </label>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}