
//start-content-block

.start-content-block__h1{
  &.start-content-block__h1_mt_100{
    margin-top: 100px;
  }
}

.btn-large{
  width: 250px;
}

svg{
  fill: white;
}

//header

.brand-logo{
  margin-left: 15px;
}

//home

.form-block{
  .form-block__item{
    color: #009688;
  }
  input:checked + .form-block__item{
    color: #9e9e9e;
  }
}