{% extends 'base.html.twig' %}

{% block top_navigation %}
  <nav>
    <div class="nav-wrapper teal darken-3">
      <a href="/" class="brand-logo">I Wanna Know</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Home</a></li>
        <li><a href="">Settings</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}
