{% extends 'app_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="teal-text"># {{ reportDate|date('M, d') }} (last update {{ reportDate|date("H:i") }})</p>
                <form class="form-block">
                    {% for item in report.items %}
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span class="form-block__item">#{{ item.number }} {{ item.title }}</span>
                        </label>
                    </p>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
